* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	margin: 0;
	padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	height:100%;
	width:100%;
	background: #fafafa;
	color: #555;
	font-family: Arial, Verdana, sansserif;
	font-size: 16px;
}

/* Preloading images */
body:after {
	content: url(../img/back.png) url(../img/bible.png) url(../img/close.png);
	display: none;
}

a {
	cursor: pointer;
}

a.close {
	z-index: 2;
	float: right;
	display: block;
	background: url("../img/close.png") no-repeat center center;
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	position: absolute;
	top: -16px;
	right: 8px;
	text-indent: -9999px;
}

#header {
	z-index: 2;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	overflow: hidden;
	background: #eaeaea;
	border-bottom: 1px solid #ccc;
}

	#header #back {
		position: relative;
		float: left;
		background: url(../img/back.png) no-repeat center center;
		background-size: 64px 64px;
		display: block;
		width: 100px;
		height: 100px;
		text-indent: -9999px;
	}

	#header #bibleBtn {
		position: relative;
		float: right;
		background: url(../img/bible.png) no-repeat center center;
		background-size: 64px 64px;
		display: block;
		width: 100px;
		height: 100px;
		text-indent: -9999px;
	}

	#header h1 {
		float: left;
		width: auto;
		margin: 0;
		padding: 0;
	}

	#header #home {
		display: block;
		background: url(../img/norealogo-vit.png) no-repeat center center;
		background-size: 219px 64px;
		width: 100%;
		height: 100px;
		text-indent: -9999px;
	}

	#header .headerLogo {
		display: block;
		text-indent: -9999px;
		float: right;
		min-height: 100px;
		width: 100px;
	}

	#header #norea {
		background: url(../img/noreaglobe.png) no-repeat center center;
		background-size: 64px 64px;
	}

	#header #hc {
		background: url(../img/hc.png) no-repeat center center;
		background-size: 72px 72px;
	}

	#header #omg {
		background: url(../img/omg.png) no-repeat center center;
		background-size: 72px 72px;
	}

	#header #vgb {
		background: url(../img/vgb.png) no-repeat left center;
		background-size: 90px 72px;
	}

	#header #history {
		background: url(../img/history.png) no-repeat center center;
		background-size: 72px 72px;
	}

	#header #toTop {
		position: relative;
		float: right;
		background: url(../img/top.png) no-repeat center center;
		background-size: 64px 64px;
		display: block;
		width: 100px;
		height: 100px;
		text-indent: -9999px;
		display: none;
	}


#content {
	z-index: 1;
	clear: left;
	float: left;
	width: 100%;
	/* compensate for header and footer */
	margin-top: 100px;
	margin-bottom: 0;
	overflow: hidden;
}

	#content #hidebox {
		display: block;
		position: relative;
		height: 100px;
		overflow: hidden;
		cursor: pointer;
		background: #fafafa;
		border-bottom: 1px solid #eaeaea;
	}

	#content #textbox {
		display: block;
		width: 100%;
		color: #555;
		background: #fafafa;
		margin: 0;
		padding: 0;
		padding-top: 16px;
		border-bottom: 1px solid #eaeaea;
	}

	#content #overlay {
		display: block;
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100px;
		background: -ms-linear-gradient(bottom, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
		background: -moz-linear-gradient(bottom, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
		background: -o-linear-gradient(bottom, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fafafa), color-stop(1, rgba(0, 0, 0, 0)));
		background: -webkit-linear-gradient(bottom, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
		background: linear-gradient(to top, #fafafa 0%, rgba(250, 250, 250, 0) 100%) repeat scroll 0% 0% transparent;
	}

	#content p {
		margin: 0;
		margin-bottom: 18px;
		padding: 0 18px;
		line-height: 1.5em;
	}

	#content a {
		text-decoration: none;
	}

	#content h2 {
		clear: left;
		float: left;
		width: 100%;
		background: #f5f5f5;
		border-bottom: 1px solid #ddd;
		font-size: 18px;
		font-weight: normal;
		line-height: 27px;
		text-transform: uppercase;
		padding: 0;
		box-sizing: border-box;
		text-align: center;
	}

	#content .track {
		clear: left;
		float: left;
		width: 100%;
		border-bottom: 1px solid #eaeaea;
		color: #555;
		background: #fafafa;
		font-size: 18px;
		line-height: 50px;
		padding: 0;
		padding-left: 18px;
		box-sizing: border-box;
		clear: left;
	}

	#content .nr {
		color: #a5a5a5;
		float: left;
		padding-right: 9px;
	}

	#content .title {
		position: relative;
		top: 0px;
		left: 0px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 9px;
	}

	#content #center {
		border-bottom: 1px solid #eaeaea;
		width: 100%;
	}

	#content #omg, #content #hc, #content #vgb, #content #history, #content #sms {
		display: block;
		min-height: 100px;
		padding-left: 128px;
		width: 192px;
		margin: 0 auto;
	}

	#content #omg h1, #content #hc h1, #content #vgb h1, #content #history h1, #content #sms h1 {
		padding-top: 26px;
		line-height: 24px;
		font-size: 18px;
		font-weight: normal;
	}

	#content #omg p, #content #hc p, #content #vgb p, #content #history p, #content #sms p {
		margin: 0;
		padding: 0;
		font-size: 13px;
		line-height: 22px;
		color: #a5a5a5;
	}

	#content #omg {
		background: #fafafa url(../img/omg.png) no-repeat 28px center;
		background-size: 72px 72px;
	}

	#content #hc {
		background: #fafafa url(../img/hc.png) no-repeat 28px center;
		background-size: 72px 72px;
	}

	#content #vgb {
		background: #fafafa url(../img/vgb.png) no-repeat 16px center;
		background-size: 90px 72px;
	}

	#content #history {
		background: #fafafa url(../img/history.png) no-repeat 28px center;
		background-size: 72px 72px;
	}

	#content #sms {
		background: #fafafa url(../img/sms.png) no-repeat 28px center;
		background-size: 72px 72px;
	}

	#content a h1 {
		color: #555;
	}

#footer {
	z-index: 3;
	font-size: 18px;
	height: 64px;
	position: fixed;
	right: 0px;
	left: 0px;
	bottom: 0px;
	margin: 0;
	margin-left: 64px;
	cursor: pointer;
	display: none;
}

#footer audio {
	position: absolute;
	left: -1px;
}

#footer #play-pause {
	width: 64px;
	height: 64px;
	padding: 8px;
	margin: -64px 0px 0px -64px;
	overflow: hidden;
	box-sizing: border-box;
	width: 64px;
	position: relative;
	float: left;
	background: #eaeaea;
	border-top: 1px solid #dbdbdb;
}

	#footer #closeFooter {
		display: none;
	}

	#footer p {
		display: none;
		width: 48px;
		height: 48px;
		margin: 0px;
		cursor: pointer;
	}

	#footer #play {
		background: url(../img/play-pause.png) no-repeat center top;
		background-size: 48px 96px;
		width: 48px;
		height: 48px;
		display: none;
	}

	#footer #pause {
		background: url(../img/play-pause.png) no-repeat center bottom;
		background-size: 48px 96px;
		display: block;
		width: 48px;
		height: 48px;
	}

#footer #scrubber {
	position: relative;
	display: block;
	width: 100%;
	height: 64px;
	margin: 0;
	overflow: hidden;
	background: #82982e;
}

	#footer #progressBar {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 64px;
		width: 0px;
		background: #bccc7d;
		z-index: 1;
		border-right: 1px solid #efb;
	}

	#footer #infotext {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

		#footer #programinfo {
			line-height: 64px;
			padding: 0px 10px;
			color: #fff;
			z-index: 2;
			display: table-cell;
			position: relative;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		#footer #time {
			line-height: 64px;
			padding-right: 10px;
			color: #442;
			z-index: 2;
			display: table-cell;
			position: relative;
			text-align: center;
			width: 110px;
			z-index: 2;
		}

			#footer #time #played {
				padding: 0px 2px 0px 0px;
				color: #f9f9f9;
				font-style: normal;
				display: inline;
			}

			#footer #time #duration {
				padding: 0px 0px 0px 2px;
				font-weight: normal;
				display: inline;
			}

#error {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	font-size: 20px;
	margin: 0;
	z-index: 3;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 64px;
	cursor: pointer;
	display: none;
	background: #e66;
}

	#error p {
		float:left;
		margin: 20px;
		color: #fff;
		display: block;
	}

#bible {
	padding: 18px;
	padding-bottom: 0;
}

#bible #GT:after, #bible #NT:after{
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
	padding-bottom: 20px;
}

#bible h3{
	clear: both;
	text-align: center;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#bible a{
	width: 25%;
	float: left;
	text-align: center;
}

#bible a p{
	list-style-type: none;
	line-height: 50px;
	font-size: 13px;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #eaeaea;
	margin: 0 4px 8px 4px;
	padding: 0;
}

#bible ul{
	width: 25%;
	float: left;
	text-align: center;
}

#bible ul li{
	list-style-type: none;
	line-height: 37px;
	font-size: 13px;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #eaeaea;
	margin: 0 4px 8px 4px;
}
