* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	margin: 0;
	padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	height:100%;
	width:100%;
	background: #e7e7e7;
	color: #555;
	font-family: Arial, Verdana, sansserif;
	font-size: 16px;
}

a {
	cursor: pointer;
}


#header {
	z-index: 2;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	overflow: hidden;
	background: #eaeaea;
	border-bottom: 1px solid #ccc;
}

	#header #back {
		position: relative;
		float: left;
		background: url(../img/roundback.png) no-repeat center center;
		background-size: 64px 64px;
		display: block;
		width: 100px;
		height: 100px;
		text-indent: -9999px;
	}

	#header h1 {
		float: left;
		width: auto;
		margin: 0;
		padding: 0;
	}

	#header #home {
		display: block;
		background: #82982e url(../img/norealogo-vit.png) no-repeat center center;
		background-size: 219px 64px;
		width: 100%;
		height: 100px;
		text-indent: -9999px;
	}

	#header #norea {
		display: block;
		background: url(../img/noreaglobe.png) no-repeat center center;
		background-size: 64px 64px;
		width: 100px;
		min-height: 100px;
		text-indent: -9999px;
		float: right;
	}

	#header #omg {
		display: block;
		background: url(../img/omg.png) no-repeat center center;
		background-size: 72px 72px;
		width: 100px;
		min-height: 100px;
		text-indent: -9999px;
		float: right;
	}

	#header #hc {
		display: block;
		background: url(../img/hc.png) no-repeat center center;
		background-size: 72px 72px;
		width: 100px;
		min-height: 100px;
		text-indent: -9999px;
		float: right;
	}

	#header #vgb {
		display: block;
		background: url(../img/vgb.png) no-repeat center center;
		background-size: 114px 72px;
		width: 130px;
		min-height: 100px;
		text-indent: -9999px;
		float: right;
	}


#content {
	z-index: 1;
	clear: left;
	float: left;
	width: 100%;
	/* compensate for header and footer */
	margin-top: 100px;
	margin-bottom: 0;
	overflow: hidden;
}

	#content #textbox {
		color: #555;
		background: #fafafa;
		border-bottom: 1px solid #ddd;
		margin: 0;
		padding: 0;
		padding-top: 20px;
	}

	#content p {
		margin: 0;
		margin-bottom: 20px;
		padding: 0 20px;
		line-height: 1.5em;
	}


	#content a {
		text-decoration: none;
	}

	#content h2 {
		clear: left;
		float: left;
		width: 100%;
		border-bottom: 1px solid #ddd;
		color: #eee;
		background: #38909b;
		font-size: 18px;
		font-weight: normal;
		line-height: 27px;
		text-transform: uppercase;
		padding: 0;
		padding-left: 32px;
		box-sizing: border-box;
	}

	#content .track {
		clear: left;
		float: left;
		width: 100%;
		border-bottom: 1px solid #ddd;
		color: #555;
		background: #eee;
		font-size: 18px;
		line-height: 18px;
		padding: 0;
		padding-left: 18px;
		border-bottom: 1px solid #ddd;
		box-sizing: border-box;
	}

	#content .nr {
		float: left;
		margin: 5px 18px 5px 0;
		padding: 10px 15px;
		color: #eee;
		background: #1b1b1b;
		border-radius: 20px;
		line-height: 20px;
		font-size: 20px;
	}

	#content .title {
		position: relative;
		top: 0px;
		left: 0px;
		white-space: nowrap;
		padding: 16px 0;
		display: block;
	}

	#content #omg {
		display: block;
		background: #eee url(../img/omg.png) no-repeat center center;
		background-size: 72px 72px;
		min-height: 100px;
		text-indent: -9999px;
		border-bottom: 1px solid #ddd;
	}

	#content #hc {
		display: block;
		background: #eee url(../img/hc.png) no-repeat center center;
		background-size: 72px 72px;
		min-height: 100px;
		text-indent: -9999px;
		border-bottom: 1px solid #ddd;
	}

	#content #vgb {
		display: block;
		background: #eee url(../img/vgb.png) no-repeat center center;
		background-size: 114px 72px;
		min-height: 100px;
		text-indent: -9999px;
		border-bottom: 1px solid #ddd;
	}

#footer {
	position: absolute;
	right: 0px;
	left: 64px;
	bottom: 0px;
	font-size: 20px;
	margin: 0;
	z-index: 3;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 64px;
	margin-left: 64px;
	cursor: pointer;
	display: none;
}

#footer audio {
	position: absolute;
	left: -1px;
}

#footer #play-pause {
	width: 64px;
	height: 64px;
	padding: 8px;
	margin: -64px 0px 0px -64px;
	overflow: hidden;
	box-sizing: border-box;
	width: 64px;
	position: relative;
	float: left;
	background: #eaeaea;
	border-top: 1px solid #ccc;
}

	#footer p {
		display: none;
		width: 48px;
		height: 48px;
		margin: 0px;
		cursor: pointer;
	}

	#footer #play {
		background: url(../img/play-pause.png) no-repeat center top;
		background-size: 48px 96px;
		width: 48px;
		height: 48px;
		display: none;
	}

	#footer #pause {
		background: url(../img/play-pause.png) no-repeat center bottom;
		background-size: 48px 96px;
		display: block;
		width: 48px;
		height: 48px;
	}

#footer #scrubber {
	position: relative;
	display: block;
	width: 100%;
	height: 64px;
	margin: 0;
	overflow: hidden;
	background: #896;
}

	#footer #progressBar {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 64px;
		width: 0px;
		background: #bccc7d;
		z-index: 1;
		border-right: 1px solid #efb;
	}

	#footer #bufferBar {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 64px;
		width: 0px;
		background: #9a7;
		border-right: 1px solid #bc7;
	}

	#footer #time {
		line-height: 64px;
		display: block;
		margin: -64px 0 0 0;
		padding: 0 20px;
		color: #675;
		float: right;
		position: relative;
		z-index: 2;
	}

		#footer #time #played {
			padding: 0px 2px 0px 0px;
			color: #f9f9f9;
			font-style: normal;
			display: inline;
		}

		#footer #time #duration {
			padding: 0px 0px 0px 2px;
			font-weight: normal;
			display: inline;
		}

#error {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	font-size: 20px;
	margin: 0;
	z-index: 3;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 64px;
	cursor: pointer;
	display: none;
	background: #e66;
}

	#error p {
		float:left;
		margin: 20px;
		color: #fff;
		display: block;
	}

	#error a {
		float:right;
		margin: 20px;
		color: #fff;
		display: block;
	}
