* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	margin: 0;
	padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	height:100%;
	width:100%;
	background: #fafafa;
	color: #555;
	font-family: Arial, Verdana, sansserif;
	font-size: 16px;
}

a {
	cursor: pointer;
}


#header {
	z-index: 2;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	overflow: hidden;
	background: #eaeaea;
	border-bottom: 1px solid #ccc;
}

	#header #back {
		position: relative;
		float: left;
		background: url(../img/back.png) no-repeat center center;
		background-size: 64px 64px;
		display: block;
		width: 100px;
		height: 100px;
		text-indent: -9999px;
	}

	#header h1 {
		float: left;
		width: auto;
		margin: 0;
		padding: 0;
	}

	#header #home {
		display: block;
		background: #82982e url(../img/norealogo-vit.png) no-repeat center center;
		background-size: 219px 64px;
		width: 100%;
		height: 100px;
		text-indent: -9999px;
	}

	#header .headerLogo {
		display: block;
		text-indent: -9999px;
		float: right;
		min-height: 100px;
	}

	#header #norea {
		background: url(../img/noreaglobe.png) no-repeat center center;
		background-size: 64px 64px;
		width: 100px;
	}

	#header #hc {
		background: url(../img/hc.png) no-repeat center center;
		background-size: 72px 72px;
		width: 100px;
	}

	#header #omg {
		background: url(../img/omg.png) no-repeat center center;
		background-size: 72px 72px;
		width: 100px;
	}

	#header #vgb {
		background: url(../img/vgb.png) no-repeat center center;
		background-size: 90px 72px;
		width: 120px;
	}

	#header #toTop {
		position: relative;
		float: right;
		background: url(../img/top.png) no-repeat center center;
		background-size: 64px 64px;
		display: block;
		width: 100px;
		height: 100px;
		text-indent: -9999px;
		display: none;
	}


#content {
	z-index: 1;
	clear: left;
	float: left;
	width: 100%;
	/* compensate for header and footer */
	margin-top: 100px;
	margin-bottom: 0;
	overflow: hidden;
}

	#content #hidebox {
		display: block;
		position: relative;
		height: 100px;
		overflow: hidden;
		cursor: pointer;
		background: #fafafa;
		border-bottom: 1px solid #ddd;
	}

	#content #textbox {
		display: block;
		width: 100%;
		color: #555;
		background: #fafafa;
		margin: 0;
		padding: 0;
		padding-top: 20px;
	}

	#content #overlay {
		display: block;
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100px;
		background: -ms-linear-gradient(bottom, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
		background: -moz-linear-gradient(bottom, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
		background: -o-linear-gradient(bottom, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fafafa), color-stop(1, rgba(0, 0, 0, 0)));
		background: -webkit-linear-gradient(bottom, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
		background: linear-gradient(to top, #fafafa 0%, rgba(250, 250, 250, 0) 100%) repeat scroll 0% 0% transparent;
	}

	#content p {
		margin: 0;
		margin-bottom: 20px;
		padding: 0 20px;
		line-height: 1.5em;
	}


	#content a {
		text-decoration: none;
	}

	#content h2 {
		clear: left;
		float: left;
		width: 100%;
		background: #e7e7e7;
		border-bottom: 1px solid #ddd;
		font-size: 18px;
		font-weight: normal;
		line-height: 27px;
		text-transform: uppercase;
		padding: 0;
		box-sizing: border-box;
		text-align: center;
	}

	#content .track {
		clear: left;
		float: left;
		width: 100%;
		border-bottom: 1px solid #ddd;
		color: #555;
		background: #eee;
		font-size: 18px;
		line-height: 50px;
		padding: 0;
		padding-left: 16px;
		border-bottom: 1px solid #ddd;
		box-sizing: border-box;
		clear: left;
	}

	#content .nr {
		color: #a5a5a5;
		float: left;
		border-right: 1px solid #ddd;
		padding-right: 16px;
		margin-right: 16px;
		text-align: center;
		min-width: 14px;
	}

	#content .title {
		position: relative;
		top: 0px;
		left: 0px;
		display: block;
		white-space: nowrap;
	}

	#content #omg, #content #hc, #content #vgb {
		display: block;
		min-height: 100px;
		border-bottom: 1px solid #ddd;
		padding-left: 128px;
	}

	#content #omg h1, #content #hc h1, #content #vgb h1 {
		padding-top: 26px;
		line-height: 24px;
		font-size: 18px;
		font-weight: normal;
	}

	#content #omg p, #content #hc p, #content #vgb p {
		margin: 0;
		padding: 0;
		font-size: 13px;
		line-height: 22px;
		color: #777;
	}

	#content #omg {
		background: #eee url(../img/omg.png) no-repeat 28px center;
		background-size: 72px 72px;
	}

	#content #hc {
		background: #eee url(../img/hc.png) no-repeat 28px center;
		background-size: 72px 72px;
	}

	#content #vgb {
		background: #eee url(../img/vgb.png) no-repeat 16px center;
		background-size: 90px 72px;
	}

#footer {
	position: absolute;
	right: 0px;
	left: 64px;
	bottom: 0px;
	font-size: 20px;
	margin: 0;
	z-index: 3;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 64px;
	margin-left: 64px;
	cursor: pointer;
	display: none;
}

#footer audio {
	position: absolute;
	left: -1px;
}

#footer #play-pause {
	width: 64px;
	height: 64px;
	padding: 8px;
	margin: -64px 0px 0px -64px;
	overflow: hidden;
	box-sizing: border-box;
	width: 64px;
	position: relative;
	float: left;
	background: #eaeaea;
	border-top: 1px solid #ccc;
}

	#footer p {
		display: none;
		width: 48px;
		height: 48px;
		margin: 0px;
		cursor: pointer;
	}

	#footer #play {
		background: url(../img/play-pause.png) no-repeat center top;
		background-size: 48px 96px;
		width: 48px;
		height: 48px;
		display: none;
	}

	#footer #pause {
		background: url(../img/play-pause.png) no-repeat center bottom;
		background-size: 48px 96px;
		display: block;
		width: 48px;
		height: 48px;
	}

#footer #scrubber {
	position: relative;
	display: block;
	width: 100%;
	height: 64px;
	margin: 0;
	overflow: hidden;
	background: #82982e;
}

	#footer #progressBar {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 64px;
		width: 0px;
		background: #bccc7d;
		z-index: 1;
		border-right: 1px solid #efb;
	}

	#footer #time {
		line-height: 64px;
		display: block;
		margin: -64px 0 0 0;
		padding: 0 20px;
		color: #442;
		float: right;
		position: relative;
		z-index: 2;
	}

		#footer #time #played {
			padding: 0px 2px 0px 0px;
			color: #f9f9f9;
			font-style: normal;
			display: inline;
		}

		#footer #time #duration {
			padding: 0px 0px 0px 2px;
			font-weight: normal;
			display: inline;
		}

#error {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	font-size: 20px;
	margin: 0;
	z-index: 3;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 64px;
	cursor: pointer;
	display: none;
	background: #e66;
}

	#error p {
		float:left;
		margin: 20px;
		color: #fff;
		display: block;
	}

	#error a {
		float:right;
		margin: 20px;
		color: #fff;
		display: block;
	}
